/*Especificidad: 001*/
html {
    box-sizing: border-box;
}

/*Especificidad: 001*/
body {
    position: relative;
    padding-bottom: 10em;
    min-height: 100%;
    max-height: 100%;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
   
}

/*Especificidad: 001*/
h1 {
    font-size: x-large;

    text-align: center;
}

/*Especificidad: 001*/
label { 
    display: none;
    color: white;
    
    background-color: black;
}

/*Especificidad: 001*/
*:after {
    box-sizing: inherit;
}

/*Especificidad: 001*/
form {
    width: 100%;
    height: auto;
    max-width: 500px;
    
    text-align: center;
    padding-bottom: 10px;
    margin: auto;
    background: rgb(221, 221, 221);
    color: inherit;
}

/*Especificidad: 011*/
input[type=text] {
      width: 75%;
      padding: 5px 10px;
      font-size: 16px;
      margin: 1px 0;
      border: 1px solid silver;
      border-radius: 1px;
      text-align: left;
      color: black;
      background: #ccc;
  }
   
/*Especificidad: 011*/
input[type=button], input[type=submit], input[type=reset] {
      border: none;
      
      padding: 10px 32px;
      font-size: 16px;
      min-width: 16%;
      text-decoration: none;
      margin: 2px 2px;
      cursor: pointer;
      color: black;
    background-color: rgb(128, 128, 128);
  }

/*Especificidad: 021*/
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: black;
    color:white;
  }

/*Especificidad: 001*/
textarea {
    border:1px solid;
    height:10em;
    width: 70%;
    overflow-y:scroll;
    align-items: center;
    text-align: right;
    position: relative;
        
}